__pycache__/
results/
venv/
*.pyc
data/
test*/
final*/
impo*/
plots*/

*.png

app.py
ARCHITECTURE.md
CHANGELOG.md
*.csv
CONFIG_GUIDE.md
SPEC.md
SWIFT_LOGIC.md
scripts/
REWARD_DESIGN.md
SWIFT_IMPLEMENTATION_PLAN.md

*.html
*.txt
*.pdf
